/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table{
    border: solid 2px #800080;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;  
}

th{
  border: solid 2px #800080
}

td{
  border: solid 2px #800080
}

.row-Band {
  width: 50%;
}
.row-Year Formed {
  width: 30%;
}
.row-No. of Albums {
  width: 20%;
}
.row-Most Famous Song {
  width: 50%;
}

.table-header{
background-image: url("./assets/leopardskin.jpg"), gradient-fill(180deg) rgba(0,0,0,0.1), rgba(0,0,0,0.5);
font-family: "rock salt", "cursive";
color: white;

}

.table-body{
justify-content: center;
background-image: url("./assetts/noise.png");
font-family: Helvetica;
padding: 8px;
}

.table-footer{
    background-image: url("./assets/leopardskin.jpg"), rgba(0,0,0,0.1), rgba(0,0,0,0.5);
    font-family: "rock salt", "cursive";
    color: white;
}

caption{
    text-align: right;
}
