/* CSS files add styling rules to your content */
body {
  margin: 5px
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
    border: solid 2px #800080;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;  
}

thead {
  border: solid 2px #800080
  background-image: src=("/assets/leopardskin.jpg") gradient-fill(180deg rgba(0,0,0,0.1) rgba(0,0,0,0.5));
  font-family: "rock salt", "cursive";
  color: black;
}

td tr {
  border: solid 2px #800080
}

.row-Band {
  width: 30%;
}
.row-Year Formed {
  width: 20%;
}
.row-No. of Albums {
  width: 20%;
}
.row-Most Famous Song {
  width: 60%;
}

tbody {
justify-content: center;
background-image: src=("/assets/noise.png");
font-family: Helvetica;
color: black;
padding: 8px;
}

td tr:nth-child(even) {
  background-color: #e495e4;
}

td tr:nth-child(odd) {
   background-color: #FF33CC
}

tfoot {
    background-image: src=("/assets/leopardskin.jpg") gradient-fill(180deg rgba(0,0,0,0.1) rgba(0,0,0,0.5));
    font-family: "rock salt", "cursive";
    color: black;

caption{
    text-align: right;
    caption-side: bottom;
}
