/* CSS files add styling rules to your content */
body {
  margin: 5px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
    border: solid 2px #800080;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;  
    background-image: url("./assets/leopardskin.jpg"); 
    background-repeat: repeat;
    background-size: auto;
}

thead td {
  border: solid 2px #800080;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  font-family: "Rock Salt", cursive;
   font-weight:bold;
  color: white;
  height: 50px;
}

.row-Band {
  width: 25%;
  border: solid 2px #800080;
  font-family: "Rock Salt", Cursive;
}
.row-Year Formed {
  width: 15%;
  border: solid 2px #800080;
  font-family: "Rock Salt", Cursive;
}
.row-No. of Albums {
  width: 15%;
  border: solid 2px #800080;
  font-family: "Rock Salt", Cursive;
}
.row-Most Famous Song {
  width: 60%;
  border: solid 2px #800080;
  font-family: "Rock Salt", Cursive;
}



tbody td {
text-allign: center;
font-family: Helvetica Neue, Helvetica, sans-serif;
color: black;
padding: 4px;
}

tbody tr {
  background-image: url("./assets/noise.png");
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr:nth-child(odd) {
   background-color: #ff33cc;
}

tfoot td {
    background-image: linear-gradient(180deg rgba(0,0,0,0.1) rgba(0,0,0,0.5));
    font-family: "Rock Salt", cursive;
    font-weight: bold;
    color: white;
    height: 50px;
    border: solid 2px #800080;
}

caption {
    caption-side: bottom right;
    text-align: right;
    font-family: "Rock Salt", cursive; 
}
